
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/

# Editor-specific files
.vscode/
.idea/

# Uploaded videos
uploads/

# Environment variables
.env
